// layout
@use "layout";

// pages
@use "pages/connexion";
@use "pages/inscription";
@use "pages/tableaubord";
@use "pages/clients";
@use "pages/missions";
@use "pages/planning";
@use "pages/facturation";
@use "pages/equipe";
@use "pages/prospects";
@use "pages/indicateurs";
@use "pages/alertes";
@use "pages/ficheclient";

// composants
@use "composants/sidebar";
@use "composants/modales";
@use "composants/recherche";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}